body {
  margin:0;
  width:100%;
}

.allcontainer{
  width:100%;
  height:1600px;
  background:#f1ede2;
  padding-top:15px;
}

.heardermaincontainer{
  width:98%;
  height:1450px;
  background:#000000;
  margin:0 auto;
}

.header{
  width:100%;
  height: 400px;
}

.headercontainer{
  background-image: url('image/tumblr_static_barcade2004_tumblr_header2.jpg');
  background-size:cover;
  height: 315px;
}

.navigationcotainer{
  background-image: url('image/menu bar.png');
  background-size:cover;
  width: 85%;
  height: 55px;
  margin:0 auto;
  position:relative;
  top:25px;
}

.navigationTabs {
  margin: 0 auto;
  position: relative;
  top: 10px;
}

.topNavButton {
  text-align: center;
  color: #FFF;
  font-size: 15pt;
  font-weight: bold;
  font-family: "Candara", serif;
  text-decoration:none;
  padding-left: 96px;
  position: relative;
  right: 0;
  top: 5px;
  cursor: pointer;
}

.topNavButton:hover{
  color:#02ce02;
}

.main{
  width: 85%;
  height: 1050px;
  margin:0 auto;
  position:relative;
}

.whatOnTap{
  width:30%;
  height:1050px;
  position: absolute;
  float: left;
}

.tapTitle{
  color: #FFF;
  font-size: 10pt;
  font-weight: bold;
  font-family: "Candara", serif;
  position: relative;
  top:10px;
}

.tapDate{
  color: #FFF;
  font-size: 10pt;
  font-style:italic;
  font-family: "Candara", serif;
  position: relative;
  top:10px;
}

.tapInfo{
  width:100%;
  position:relative;
}

.tapInfoaccess{
  color: #FFF;
  font-size: 13pt;
  font-family: "Candara", serif;
  Line-height: 35px;
  position: relative;
  top: 50px;
  float: left;
}

.moreButton{
  color: #fee902;
  font-size: 13pt;
  font-family: "Arial", serif;
  Line-height: 35px;
  position: relative;
  top: 190px;
  float: right;
}

.moreButton:hover{
  cursor: pointer;
}

.dontMiss{
  width:35%;
  height:1050px;
  left:34%;
  position: absolute;
  float: left;
}

.dontMissTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.dontMissline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
}

.dontMissActivity1{
  width:100%;
  height:400px;
  text-align:center;
  position: relative;
}

.dontMissImage1{
  background-image: url('image/JacksAbbyLaunch04-06-15SQR600.jpg');
  background-size:cover;
  height: 350px;
  top:25px;
  margin:10px;
}

.dontMissInfo1{
  color: #FFF;
  font-size: 11pt;
  font-family: "Ebrima", serif;
  margin:auto;
  position: relative;
}

.dontMissActivity2{
  width:100%;
  height:525px;
  text-align:center;
  position: relative;
}

.dontMissImage2{
  background-image: url('image/TwoRoadsBrewingLaunch04-08-15_600.jpg');
  background-size:cover;
  height: 470px;
  top:25px;
  margin:10px;
}

.dontMissInfo2{
  color: #FFF;
  font-size: 11pt;
  font-family: "Ebrima", serif;
  margin:auto;
  position: relative;
}

.markCalendars{
  width:25%;
  height:1050px;
  left:74%;
  position: relative;
  float: left;
}

.markCalendarsContainer{
  width:100%;
  position: relative;
}

.markCalendarsTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  float: left;
  position: relative;
}

.markCalendarsline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
}

.Calendars{
  background-image: url('image/Calendars.png');
  background-size:cover;
  height: 230px;
  top:25px;
  margin:10px;
}

.Poster{
  background-image: url('image/BarcadePhillyLunchSpecial2.jpg');
  background-size:cover;
  height: 325px;
  top:25px;
  margin:10px;
}

.reservation{
  height:350px;
  width:100%;
  position: relative;
}

.reservationTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 20px;
}

.reservationContainer{
  width: 100%;
  height: 300px;
  background-color: #000000;
  border: 1px #fff solid;
  position: relative;
}

.date{
  width: 100%;
  height: 60px;
  margin-top: 25px;
  position: relative;
}

.dateIcon{
  background-image: url('image/dateIcon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  left: 16px;
  position: absolute;
}

.dateContainer{
  width: 62%;
  height: 40px;
  background-color: #000000;
  border: 1px #fff solid;
  left: 75px;
  position: relative;
}

.datecontainer > .datedropdown {
  margin: 0 20px;
  vertical-align: top;
}

.datedropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 161px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid;

}

.datedropdown:before, .datedropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 5px dashed;
  border-color: #fff transparent;
  pointer-events: none;
}

.datedropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.datedropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.datedropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

.datedropdown-select:focus {
  z-index: 3;
  width: 100%;
  background: rgba(0, 0, 0, 0) !important;
}

.datedropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #000000;
  cursor: pointer;
}

.datedropdown-select > option:hover {
  background-color:#fff;
  background:none;
  color:#000000;
}

.time{
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

.timeIcon{
  background-image: url('image/timeIcon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  left: 16px;
  position: absolute;
}

.timeContainer{
  width: 62%;
  height: 40px;
  background-color: #000000;
  border: 1px #fff solid;
  left: 75px;
  position: relative;
}

.timecontainer > .timedropdown {
  margin: 0 20px;
  vertical-align: top;
}

.timedropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 161px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid;

}

.timedropdown:before, .timedropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 5px dashed;
  border-color: #fff transparent;
  pointer-events: none;
}

.timedropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.timedropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.timedropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

.timedropdown-select:focus {
  z-index: 3;
  width: 100%;
  background: rgba(0, 0, 0, 0) !important;
}

.timedropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #000000;
  cursor: pointer;
}

.timedropdown-select > option:hover {
  background-color:#fff;
  background:none;
  color:#000000;
}

.people{
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

.peopleIcon{
  background-image: url('image/peopleIcon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  left: 16px;
  position: absolute;
}

.peopleContainer{
  width: 62%;
  height: 40px;
  background-color: #000000;
  border: 1px #fff solid;
  left: 75px;
  position: relative;
}

.peoplecontainer > .peopledropdown {
  margin: 0 20px;
  vertical-align: top;
}

.peopledropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 161px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid;

}

.peopledropdown:before, .peopledropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 5px dashed;
  border-color: #fff transparent;
  pointer-events: none;
}

.peopledropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.peopledropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.peopledropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

.peopledropdown-select:focus {
  z-index: 3;
  width: 100%;
  background: rgba(0, 0, 0, 0) !important;
}

.peopledropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #000000;
  cursor: pointer;
}

.peopledropdown-select > option:hover {
  background-color:#fff;
  background:none;
  color:#000000;
}

.findTable{
  width: 84%;
  height: 60px;
  margin:0 auto;
}

.findTableButton{
  text-align: center;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  background-color: #fff;
  color: #000000;
  font-size: 15pt;
  font-family: "Arial", serif;
  font-weight: bold;
  top: 20px;
  position: relative;
  cursor: pointer;
}

.footerContainer{
  width: 100%;
  height: 150px;
  position: relative;
}

.SocialMedia{
  height: 60px;
  width: 400px;
  float: right;
  position: relative;
  right: 75px;
  top: 20px;
}

.SocialMediaButton {
  height: 50px !important;
  margin: 10px;
  position: relative;
  top: -5px;
  cursor: pointer;
}

.address{
  font-size: 11pt;
  font-family: "Euphemia", serif;
  font-weight: bold;
  height: 50px;
  width: 800px;
  float: left;
  position: relative;
  left: 10px;
  top: 100px;
}




/** Food & Drink **/

.mainInfo{
  width:100%;
  height:980px;
}

.downloadMenu{
  width:100%;
  height:70px;
}

.menu{
  width:25%;
  height:980px;
  position: absolute;
  float: left;
}

.menuTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.menuline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
}

.menuContainer{
  width:100%;
  height:530px;
  position: relative;
}

.foodButton{
  color:#000000;
  background:#fff;
  width:100%;
  height:40px;
  font-size: 22pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align:center;
  line-height:40px;
  position: relative;
  margin-top:10px;
  margin-bottom:10px;
}

.foodButton:hover{
  background:#02ce02;
  cursor: pointer;
}

.foodList{
  overflow:auto;
  height:0px;
}

.foodList[expanded="true"]{
  width: 100%;
  height:360px;
  background-color: #000000;
  border: 1px #fff solid;
  position: relative;
}

.foodListContainer{
  overflow:auto;
  width: 98%;
  height:360px;
  position: relative;
}

.foodListGroup{
  color: #000000;
  background-color:#fff;
  width: 90%;
  height: 30px;
  font-size: 13pt;
  font-family: "Calibri", serif;
  font-weight: bold;
  line-height: 30px;
  margin: 0 auto;
  padding-left: 10px;
  top:10px;
  position: relative;
}

.foodListGroupInfoContainer{
  width: 90%;
  height: 280px;
  color:#ffea00;
  font-size: 12pt;
  font-family: "Candara", serif;
  overflow: auto;
  margin: 0 auto;
  top: 5px;
  position: relative;
}


.drinkButton{
  color:#000000;
  background:#fff;
  width:100%;
  height:40px;
  font-size: 22pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align:center;
  line-height:40px;
  position: relative;
  margin-top:10px;
  margin-bottom:10px;
}

.drinkButton:hover{
  background:#02ce02;
  cursor: pointer;
}

.drinkList{
  overflow:auto;
  height:0px;
}

.drinkList[expanded="true"]{
  overflow:auto;
  width: 100%;
  height:360px;
  background-color: #000000;
  border: 1px #fff solid;
  position: relative;
}

.drinkListContainer{
  overflow:auto;
  width: 98%;
  height:360px;
  position: relative;
}

.drinkListGroup{
  color: #000000;
  background-color:#fff;
  width: 90%;
  height: 30px;
  font-size: 13pt;
  font-family: "Calibri", serif;
  font-weight: bold;
  line-height: 30px;
  margin: 0 auto;
  padding-left: 10px;
  top:10px;
  position: relative;
}

.drinkListGroupInfoContainer{
  width: 90%;
  height: 280px;
  color:#ffea00;
  font-size: 12pt;
  font-family: "Candara", serif;
  overflow: auto;
  margin: 0 auto;
  top: 5px;
  position: relative;
}

.specialsButton{
  color:#000000;
  background:#fff;
  width:100%;
  height:40px;
  font-size: 22pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align:center;
  line-height:40px;
  position: relative;
  margin-top:10px;
  margin-bottom:10px;
}

.specialsButton:hover{
  background:#02ce02;
  cursor: pointer;
}

.specialsList{
  overflow:auto;
  height:0px;
}

.specialsList[expanded="true"]{
  overflow:auto;
  width: 100%;
  height:360px;
  background-color: #000000;
  border: 1px #fff solid;
  position: relative;
}

.specialsListContainer{
  overflow:auto;
  width: 98%;
  height:360px;
  position: relative;
}

.specialsListGroup{
  color: #000000;
  background-color:#fff;
  width: 90%;
  height: 30px;
  font-size: 13pt;
  font-family: "Calibri", serif;
  font-weight: bold;
  line-height: 30px;
  margin: 0 auto;
  padding-left: 10px;
  top:10px;
  position: relative;
}

.specialsListGroupInfoContainer{
  width: 90%;
  height: 110px;
  color:#ffea00;
  font-size: 12pt;
  font-family: "Candara", serif;
  overflow: auto;
  margin: 0 auto;
  top: 5px;
  position: relative;
}

.expandableList {
  transition: height 0.2s ease-in-out
}


.specials{
  width:30%;
  height:980px;
  left: 30%;
  position: absolute;
  float: left;
}

.specialsTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.specialsline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
}

.SpecialsNotice{
  background-image: url('image/BarcadePhillyLunchSpecial2.jpg');
  background-size: cover;
  height: 425px;
  top: 25px;
  margin-top: 10px;
}

.SpecialInfo{
  height:200px;
  width:100%;
  position: relative;
}

.LunchSpecial{
  color: #02ce02;
  width: 100%;
  height: 40px;
  font-size: 16pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.LunchSpecialToday{
  color: #ffea00;
  width: 100%;
  height: 40px;
  font-size: 16pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  position: relative;
  margin-top: 20px;
  text-decoration:underline;
  cursor: pointer;
}

.LunchSpecialInfo{
  color: #fff;
  width: 100%;
  height: 30px;
  font-size: 9pt;
  font-family: "Arial", serif;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  position: relative;
  text-decoration:underline;
}

.LunchSpecialInfo:hover{
  cursor: pointer;
}

.whatOnTapInside{
  width:35%;
  height:980px;
  left: 65%;
  position: absolute;
  float: left;
}

.whatOnTapInsideTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.whatOnTapInsideline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
}

.whatOnTapInsideContainer{
  width: 100%;
  height:330px;
  background-color: #000000;
  border: 1px #fff solid;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.whatOnTapInsideDate{
  color: #000000;
  background-color:#fff;
  width: 94%;
  height: 30px;
  font-size: 12pt;
  font-family: "Calibri", serif;
  line-height: 30px;
  margin: 0 auto;
  padding-left: 10px;
  top:10px;
  position: relative;
}

.whatOnTapInsideInfoContainer{
  width: 90%;
  height: 280px;
  color:#fff;
  font-size: 12pt;
  font-family: "Candara", serif;
  overflow: auto;
  margin: 0 auto;
  top: 15px;
  position: relative;
}


.topFoodImageContainer{
  width: 100%;
  height: 555px;
}

.topFoodImage{
  background-color:#fff;
  width: 100%;
  height: 170px;
  margin-top:20px;
  margin-bottom:20px;
}

.topFoodImage .topFoodImage1{
  background-image: url('image/IMG_8951_FancyItalian600.jpg');
  background-size: cover;
  height: 170px;
}

.topFoodImage1{
  width: 255px;
  margin: 0 auto;
}

.topFoodImage .topFoodImage2{
  background-image: url('image/IMG_8957_SeitansOwn600.jpg');
  background-size: cover;
  height: 170px;
}

.topFoodImage2{
  width: 255px;
  margin: 0 auto;
}

.topFoodImage .topFoodImage3{
  background-image: url('image/IMG_8985_TheDude.jpg');
  background-size: cover;
  height: 170px;
}

.topFoodImage3{
  width: 255px;
  margin: 0 auto;
}

.topFoodImageOverlay{
  background: rgba(255,255,255,.75);
  text-align: center;
  padding: 65px 0 66px 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  }

.topFoodImage1:hover .topFoodImageOverlay {
 opacity:1;
 cursor: pointer;
}

.topFoodImage2:hover .topFoodImageOverlay {
 opacity:1;
 cursor: pointer;
}

.topFoodImage3:hover .topFoodImageOverlay {
 opacity:1;
 cursor: pointer;
}

.foodImagehover{
  font-family:"Impact", serif;
  font-size: 24pt;
  color:rgba(0,0,0,.85);
}


.downloadMenuline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
  top: 15px;
}

.downloadMenuButton{
  color: #02ce02;
  width: 100%;
  height: 40px;
  font-size: 16pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}



/**game page**/

.GameList{
  width:35%;
  height:1050px;
  position: absolute;
  float: left;
}

.GameListSearch{
  width: 100%;
  height:50px;
  background-color: #000000;
  border: 1px #fff solid;
  position: relative;
  margin-top: 35px;
  margin-bottom: 10px;
}

.searchbox {
  color: #fff;
  background: transparent;
  border: none;
  height: 100%;
  width: 79%;
  float: left;
  margin-left: 10px;
  outline: none;
  font-size: 12pt;
  font-family: "Corbel", serif;
}

.GameListSearchIcon{
  width: 11%;
  background-image: url('image/searchIcon.jpg');
  background-size: cover;
  height: 40px;
  left: 86%;
  position: absolute;
  margin:5px;
  float: left;
}

.GameListSearchIcon:hover{
  background-image: url('image/searchIconHover.jpg');
}

.GameListInfo{
  width: 100%;
  height:300px;
  background-color: #000000;
  border: 1px #fff solid;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.GameListInfoTitleCotainer{
  width: 100%;
  height:30px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.GameListInfoTitle{
  color:#02ec02;
  font-size: 22pt;
  font-family: "Corbel", serif;
  padding-left:25px;
  float: left;
  font-weight: bold;
  position: relative;
}

.GameListInfoMenuCotainer{
  width: 100%;
  height:260px;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;
}

.GameListInfoMenu{
  color: #fff;
  font-size: 13pt;
  font-family: "Corbel", serif;
  padding-left: 25px;
  float: left;
  position: relative;
  margin-right: 33px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.GameListInfoMoreButton{
  color: #fee902;
  font-size: 13pt;
  font-family: "Arial", serif;
  position: relative;
  margin: 15px;
  top: 15px;
  float: right;
}

.HignScoresList{
  width: 100%;
  height:600px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}

.HignScoresListTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  float: left;
}

.HignScoresListline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
}

.HignScoresListInfoContainer{
  height:515px;
  width:100%;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.HignScoresListInfo{
  height:140px;
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.HignScoresListInfoImage1{
  width: 30%;
  background-image: url('image/ArkanoidCover.jpg');
  background-size: cover;
  height: 139px;
  position: absolute;
}

.HignScoresListInfoImage2{
  width: 30%;
  background-image: url('image/Asteroids_Cabaret_1979_500.jpg');
  background-size: cover;
  height: 139px;
  position: absolute;
}

.HignScoresListInfoImage3{
  width: 30%;
  background-image: url('image/Centipede2_1981_500.jpg');
  background-size: cover;
  height: 139px;
  position: absolute;
}

.HignScoresListInfoIntro{
  width: 34%;
  height: 140px;
  left:35%;
  float:left;
  color:#fff;
  font-size: 12pt;
  font-family: "Estrangelo Edessa", serif;
  position: absolute;
}

.HignScoresListInfoButton{
  width: 34%;
  height: 30px;
  float:right;
  color:#fff;
  background-color:#02ce02;
  font-size: 12pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  text-decoration:none;
}

.HignScoresMoreButton{
  color: #fee902;
  font-size: 13pt;
  font-family: "Arial", serif;
  Line-height: 35px;
  position: relative;
  float: right;
}

.Games{
  width:60%;
  height:1050px;
  left: 40%;
  position: absolute;
  float: left;
}

.GamesTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.Gamesline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
}

.GamesContainer{
  width:100%;
  height:950px;
  background-image: url('image/games.jpg');
  background-size: cover;
  position: relative;
  top:10px;
}




/**games description**/

.GamesDescription{
  width:60%;
  height:1050px;
  left: 40%;
  position: absolute;
  float: left;
}

.GamesDescriptionTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.GamesDescriptionContainer{
  width:100%;
  height:950px;
  background-size: cover;
  position: relative;
  top:10px;
}

.GamesDescriptionIntroduction{
  width:100%;
  height:400px;
  position: relative;
  top:10px;
}

.GamesDescriptionImage{
  width: 45%;
  height: 370px;
  background-image: url('image/Asteroids_Cabaret_1979_500.jpg');
  background-size: cover;
  position: absolute;
  top: 10px;
}

.GamesDescriptionInfo{
  width: 50%;
  left:50%;
  height: 370px;
  position: absolute;
  color:#fff;
  font-size: 16pt;
  font-family: "Corbel", serif;
  margin-top: 5px;
}

.Green{
  color:#02ce02;
}

.GamesDescriptionVideo{
  width:100%;
  height:500px;
  position: relative;
  top:55px;
}

.GamesDescriptionVideoImage{
  width: 85%;
  height: 370px;
  background-image: url('image/videoImage.jpg');
  background-size: cover;
  border: 15px solid #fff;
  position: relative;
  text-align: center;
  margin: 0 auto;
  Line-height: 370px;
  top: 10px;
}

.GamesDescriptionVideoButton{
  width: 110px;
  height: 110px;
  background-image: url('image/video_n.png');
  background-size: cover;
  position: relative;
  text-align:center;
  margin: 0 auto;
  top: 35%;
}

.GamesDescriptionVideoButton:hover{
  background-image: url('image/video_h.png');
  cursor: pointer;
}

.GamesDescriptionVideoMoreContainer{
  width: 100%;
  height: 50px;
  Line-height: 50px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 15px;
}

.GamesDescriptionVideoMore{
  color: #fee902;
  font-size: 13pt;
  font-family: "Arial", serif;
  Line-height: 35px;
  position: relative;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}




/**High Scores**/

.HighScores{
  width:60%;
  height:1050px;
  left: 40%;
  position: absolute;
  float: left;
}

.HighScoresTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.HighScoresline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
}

.HighScoresDetailContainer{
  width: 96%;
  height: 950px;
  position: relative;
  top: 10px;
  margin: 0 auto;
}

.HignScoresDetailListInfo{
  height:200px;
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.HignScoresDetailListInfoImage1{
  width: 24%;
  background-image: url('image/ArkanoidCover.jpg');
  background-size: cover;
  height: 190px;
  position: absolute;
}

.HignScoresDetailListInfoImage2{
  width: 24%;
  background-image: url('image/Asteroids_Cabaret_1979_500.jpg');
  background-size: cover;
  height: 190px;
  position: absolute;
}

.HignScoresDetailListInfoImage3{
  width: 24%;
  background-image: url('image/Centipede2_1981_500.jpg');
  background-size: cover;
  height: 190px;
  position: absolute;
}

.HignScoresDetailListInfoImage4{
  width: 24%;
  background-image: url('image/BubbleBobble_1986_500.jpg');
  background-size: cover;
  height: 190px;
  position: absolute;
}

.HignScoresDetailListInfoIntro{
  width: 34%;
  height: 140px;
  left:30%;
  float:left;
  color:#fff;
  font-size: 17pt;
  font-family: "Estrangelo Edessa", serif;
  position: absolute;
}

.HignScoresDetailListInfoButtonContainer{
  width: 30%;
  float: right;
  height: 120px;
}

.HignScoresDetailListInfoButton{
  width: 100%;
  height: 40px;
  float: right;
  margin-bottom: 15px;
  color: #fff;
  background-color: #02ce02;
  font-size: 14pt;
  font-family: "Corbel", serif;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.SeeMoreButtonContainer{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  position:relative;
  top:10px;
}

.SeeMoreButton{
  width: 40px;
  height: 20px;
  background-image: url('image/SeeMoreButton.png');
  background-size: cover;
  margin: 0 auto;
  position:relative;
  top:10px;
  cursor: pointer;
}

.SeeMoreButton:hover{
  background-image: url('image/SeeMoreButton_h.png');
  background-size: cover;
}



/**directions**/

.directions{
  width:100%;
  height:1050px;
  position: relative;
}

.outViewPicture{
  width: 100%;
  height: 400px;
  background-image: url('image/17088638081_6e189948b4_o.jpg');
  background-size: cover;
  position: relative;
  top:20px;
}

.directionsInfo{
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16pt;
  font-family: "Candara", serif;
  font-weight: bold;
  margin-top:65px;
}

.Yellow a{
  color:#ffea00;
}

.googlemapContainer{
  width: 100%;
  height:400px;
  position: relative;
  margin:0 auto;
  text-align: center;
  margin-top:30px;
}




/**contact us page**/

.ourInfo{
  width:25%;
  height:980px;
  position: absolute;
  float: left;
}

.ourInfoTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.ourInfoline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  position: relative;
}

.ourInfoContainer{
  width:100%;
  height:550px;
  position: relative;
  color: #fff;
  font-size: 13pt;
  font-family: "Ebrima", serif;
  font-weight: bold;
}

.White a{
  color: #fff;
}

.NoticeImage{
  background-image: url('image/Mustbe21orOver_400.jpg');
  background-size: cover;
  height: 350px;
  top: 25px;
  margin-top: 20px;
  position: relative;
}



.contactUs{
  width:70%;
  height:980px;
  left: 30%;
  position: absolute;
  float: left;
}

.contactUsTitle{
  color: #FFF;
  font-size: 10pt;
  font-family: "Corbel", serif;
  top: 10px;
  position: relative;
  float: left;
}

.contactUsline{
  height:2px;
  width:100%;
  background:#fff;
  overflow:hidden;
  width:100%;
}

.contactUsContainer{
  width:100%;
  height:980px;
  position: relative;
  color: #FFF;
  font-size: 14pt;
  font-family: "Corbel", serif;
}

.customerInfo{
  width:100%;
  height:750px;
}

.sentButton{
  width: 50px;
  height: 10px;
  color: #000;
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 12pt;
  font-family: "Arial", serif;
  font-weight: bold;
  position: relative;
  top:10px;
  cursor: pointer;

}

.sentButton:hover{
  background-color: #02ce02;
}



/**slider style**/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  width:12px;
  background-color: #fff;
}
